.sidebar {
   width: var(--width-sidebar);
   background-color: #393a3d;
   height: 100%;
   overflow-y: auto;
}
.sidebar--collapse {
   width: auto;
}
.sidebar-content {
   padding: 20px 12px 0px;
}
.sidebar-item {
   width: 100%;
   height: 44px;
   margin-bottom: 4px;
   border-radius: var(--border-radius);
   cursor: pointer;
}
.sidebar-item:hover {
   background-color: #59595d;
}
.sidebar-item.selected {
   background-color: #59595d;
}
.sidebar-text {
   flex: 1;
   font-size: 14px;
   color: #fff;
}
.sidebar-item .icon {
   margin: 0 12px;
}
.sidebar--collapse .sidebar-text {
   display: none;
}
