.dialog-wrapper {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(85, 79, 79, 0.2);
   justify-content: center;
   align-items: center;
   z-index: 10;
}
.dialog-container {
   min-width: 900px;
   width: 900px;
   padding: 32px;
   box-shadow: 0 4px 10px 0px #ccc;
   background-color: #fff;
}
.dialog__header {
   /* background-color: blue; */
   padding-bottom: 32px;
}
.dialog-header__title {
   font-size: 24px;
   color: #1f1f1f;
   font-weight: 700;
}
.dialog-header__option {
}
.dialog-header__action {
}
.form__content {
   /* background-color: orange; */
}
.form-content__top {
   display: flex;
   /* background-color: crimson; */
}
.form-content__left {
   width: 50%;
}
.form-content__right {
   flex: 1;
}
.dialog__footer {
   /* background-color: aqua; */
   padding-top: 24px;
   border-top: 1px solid #333;
   justify-content: space-between;
}

/* radio input */
.wrapper-radiobox {
   display: flex;
   cursor: pointer;
   font-size: 16px;
   align-items: center;
}
.wrapper-radiobox + .wrapper-radiobox {
   margin-left: 12px;
}
input[type="radio"] {
   appearance: none;
   --webkit-appearance: none;
   position: relative;
   cursor: pointer;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: 1px solid #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
}
input[type="radio"]::after {
   /* display: none; */
   content: "";
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: transparent;
   transition: all 0.1s linear;
}
