.input-wrapper {
   position: relative;
   padding-bottom: 16px;
}
.label-input {
   position: relative;
   display: block;
   font-size: 14px;
   line-height: 18px;
   font-weight: 600;
   color: #1f1f1f;
   text-align: left;
}
.input-container {
   position: relative;
   padding: 8px 0;
}

.input {
   width: 100%;
   height: 36px;
   padding: 8px 12px;
   border: 1px solid #e0e0e0;
   font-size: 14px;
   line-height: 20px;
   text-align: left;
   border-radius: var(--border-radius);
   outline: none;
}
.input.input-icon {
   padding-right: 40px;
}
.input.input-icon ~ .icon {
   position: absolute;
   top: 50%;
   right: 8px;
   transform: translateY(-50%);
}
.input::placeholder {
   color: #9e9e9e;
   font-family: "MISA italic";
}
.input:hover {
   background-color: #f6f6f6;
}
.input:focus {
   border-color: #50b83c;
   background-color: #fff;
}
.input.input-error {
   border: 1px solid red;
}
.input-container .msg-input-error {
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   font-size: 14px;
   line-height: 16px;
   color: #fff;
   text-align: center;
   background-color: #f46d6d;
   padding: 6px 8px;
   border-radius: 4px;
   white-space: nowrap;
   display: none;
   z-index: 9999;
}
.input-container:hover .msg-input-error {
   display: block;
}
.msg-input-error::before {
   content: "";
   position: absolute;
   top: -16px;
   left: 50%;
   transform: translateX(-50%);
   border: 8px solid transparent;
   border-bottom-color: #f46d6d;
}

.wrapper-checkbox {
   display: flex;
   cursor: pointer;
   font-size: 16px;
   align-items: center;
}
.wrapper-checkbox + .wrapper-checkbox {
   margin-left: 20px;
}
input[type="checkbox"] {
   appearance: none;
   --webkit-appearance: none;
   position: relative;
   cursor: pointer;
   width: 24px;
   height: 24px;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: #fff;
}
input[type="checkbox"]:checked {
   background: url(../assets/img/Sprites.64af8f61.svg) no-repeat -1220px -358px;
   border: 1px solid #50b83c;
   animation: checkbox 0.2s linear;
   background-color: #fff;
}
input[type="checkbox"]:not(:checked) {
   transform: rotate(-90deg);
   transition: all 0.2s linear;
}
@keyframes checkbox {
   from {
      transform: rotate(-90deg);
   }
   to {
      transform: rotate(0deg);
   }
}
.input-radio-wrapper {
   height: 36px;
   display: flex;
   align-items: center;
   margin-right: 12px;
}
input[type="radio"]:checked {
   border: 1px solid #50b83c;
}
input[type="radio"]:checked::after {
   background-color: #50b83c;
}
input[type="radio"]:not(:checked) {
   border: 1px solid #ccc;
   background-color: #fff;
}
