.combobox {
   position: relative;
   display: flex;
   flex-direction: column;
}

.combobox-button {
   height: 34px;
   width: 36px;
   border-left: 1px solid #e0e0e0;
   position: absolute;
   right: 1px;
   top: 50%;
   transform: translateY(10px);
   transform: translateY(-50%);
   border-radius: 4px;
   cursor: pointer;
}
.combobox-button:hover {
   background-color: #eeeeee;
}
.combobox-button:focus {
   background-color: #eeeeee;
}
.combobox-data {
   width: 100%;
   border: 1px solid #e0e0e0;
   position: absolute;
   z-index: 999;
   background-color: white;
   /* display:none; */
   border-radius: 4px;
   box-shadow: 0 3px 6px rgba(23, 27, 42, 0.24);
   overflow: auto;
}
.page-size-list {
   bottom: calc(100% + 2px);
}
.department-list {
   top: calc(100% + 2px);
   max-height: 200px;
}
.data-item {
   height: 36px;
   padding: 8px 0 8px 12px;
   cursor: pointer;
}
.data-item:hover {
   background-color: #e0e0e0;
   color: #50b83c;
}
.checked,
.checked:hover {
   background-color: #50b83c;
   color: white;
}
